@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

* {
  margin: 0;
  padding: 0;
  outline: 0e;
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  background: #161616;
  -webkit-font-smoothing: antialised;
}

body,
input,
button {
  font-family: Roboto, sans-serif;
}
